* {
	text-decoration: none;
	font-family: helvetica;
	color:midnightblue;
}
h1 {
	display:inline-block;
	color: #66CDAA;
	width:100%;
	height:100%;
	
}
h1:hover{
	
	transition: 3s ease-in-out;
	color:  midnightblue;
	background-color: midnightblue;
}
h1:hover span{
	transition: 3s ease-in-out;
	color:rgb(102, 205, 170);
}


h1 > span {
	position: absolute;
	color:rgba(255,255,255,0);
	left:40%;
}

h3 {
	margin-top:10px;
	margin-bottom:0px;
}
header {
	text-align:center;
	background-color: midnightblue;
	margin-bottom:100px;
}
/* ссылки меню */
li>a {
	display: block;
	width:100%;
	height: 100%;
	
}
/* блок главного меню  */
.menu {
	position: relative;
	left:10%;
	float:left;
	top:-100px;
	width:20%;
	height:40px;
	background-color: #66CDAA;
	border:1px solid #000;
 	font-weight: bold;
    list-style: none;
    text-align:center;
    }
/* цвета выпадающего меню  */
.menu:hover{
	background-color: midnightblue;
	color:#66CDAA;
}
.menu:hover a{
	background-color: midnightblue;
	color:#66CDAA;
	transition: .3s ease-in-out;
}
.menu:hover .submenu{
	background-color: midnightblue;
	color:#66CDAA;

}
.submenu>li:hover {
	background-color: #66CDAA;
	color:midnightblue;
}
.submenu>li:hover a{
	background-color: #66CDAA;
	color:midnightblue;
	transition: .3s ease-in-out;
}
/* выпадающее меню */
.submenu{

	font-weight: normal;
	padding:0;
  	position: absolute;
	top:42px;
	display:none;
	width:100%;
	height:auto;
	background-color: #66CDAA;
	border:1px solid #000;
	list-style: none;
}

.topmenu li:hover .submenu {
	display: block;
} 

.topmenu {
	 padding-left:0px;

}
form {
	background-color: #66CDAA;
	
	width:100%;
	height:460px;
	border:1px solid #000;
	text-align: center;
	border-radius: 50px;
}
/* чекбокс гугл-карты   */
iframe {
   display: none;

}
.pickup:checked ~ iframe {

	display: block;
	position: relative;
    margin: 0 auto;
    width: 300px;
    height:150px;
    left:10px;
}
/* чекбокс адреса доставки   */
.address {
	display: none;
}
.courier:checked ~ .address {
	display: block;

}


/* кастомный чекбокс */
.agree:not(:checked) ~ .button {
	pointer-events: none;
	color:gray;
}


#agree {
	display: none;
	
	
}
.agree:checked + .agreeLabel:after{
	transform:translateX(17px);
}
.agree:checked + .agreeLabel:before{
	background-color:midnightblue;
	
}
.agreeLabel {
	position: relative;
	transition: color 0.3s linear;
	left:48%;
	

}
.agreeLabel:before {
	position: absolute;
	display:block;
	content:'';
	width:38.5px;
	height: 22px;
	border-radius:15px;
	border:1px solid #000;
	background-color: gray;
	transition: background-color 0.3s linear;
	
}
.agreeLabel:after {
	position: relative;
	background-color: white;
	display: block;
	content:'';
	width:21px;
	height:21px;
	border-radius:50%;
	border:1px solid #000;
	transition: transform 0.3s linear;
	top:0.4px;
}








footer {
	text-align: center;
	color: black;
}
img {
	height:23px;
	width:23px;
}
body {
	background:#B0C4DE;
}
span {
	white-space: nowrap;
}
