* {
	text-decoration: none;
	font-family: helvetica;
	color:midnightblue;

}
header {
	text-align:center;
	background-color: midnightblue;
	

}
h1 {
	display:inline-block;
	color: #66CDAA;
	width:100%;
	


}

h1>a {
	color: #66CDAA;
}




h3 {
	margin-top:10px;
	margin-bottom:0px;
}



/* ссылки меню */
li>input {
	display:none;
}
li>a {
	display: block;
	width:100%;
	height: 100%;
}
.menuButton {
	cursor: pointer;
	height: 100%;
	
	
}

li>input:checked ~ .submenu {
	display: block;
} 

/* блок главного меню  */
.menu {
	position: relative;
	float:left;
	width:calc(25% - 2px);
	height:40px;
	background-color: #66CDAA;
	border:1px solid #000;
 	font-weight: bold;
    list-style: none;
    text-align:center;
    margin-bottom:30px;
	
    }


/* выпадающее меню */
.submenu{
	font-weight: normal;
	padding:0;
	display:none;
	width:100%;
	height:auto;
	background-color: #66CDAA;
	border:1px solid #000;
	list-style: none;
	position: relative;
	right:1px;
}



.topmenu {
	padding:0px;
	margin:0;
	

}
form {
	background-color: #66CDAA;
	width:100%;
	height:460px;
	border:1px solid #000;
	text-align: center;
	border-radius: 50px;
	
}
/* чекбокс гугл-карты   */
iframe {
   display: none;

}
.pickup:checked ~ iframe {

	display: block;
	position: relative;
    margin: 0 auto;
    width: 300px;
    height:150px;
    left:10px;
}
/* чекбокс адреса доставки   */
.address {
	display: none;
}
.courier:checked ~ .address {
	display: block;

}


/* кастомный чекбокс */
.agree:not(:checked) ~ .button {
	pointer-events: none;
	color:gray;
}


#agree {
	display: none;
	
	
}
.agree:checked + .agreeLabel:after{
	transform:translateX(16px);
}
.agree:checked + .agreeLabel:before{
	background-color:midnightblue;
	
}
.agreeLabel {
	position: relative;
	transition: color 0.3s linear;

	

}
.agreeLabel:before {
	
	display:inline-block;
	content:'';
	width:40px;
	height: 22px;
	border-radius:15px;
	border:1px solid #000;
	background-color: gray;
	transition: background-color 0.3s linear;
	position: relative;
	left:11px;

	
}
.agreeLabel:after {
	position: relative;
	background-color: white;
	display: inline-block;
	content:'';
	width:20px;
	height:20px;
	border-radius:50%;
	border:1px solid #000;
	transition: transform 0.3s linear;
	
	right:29px;
	bottom:1px;
}


footer {
	text-align: center;
	color: black;
}
img {
	height:23px;
	width:23px;
}
body {
	background:#B0C4DE;
}
.nowrap {
	white-space: nowrap;
}


@media (min-width:1000px) {
	.menu {
		line-height:40px;
	}
	/* цвета выпадающего меню  */
	.menu:hover{
		background-color: midnightblue;
		color:#66CDAA;
		transition: .3s ease-in-out;
	}
	.menu:hover a{
		background-color: midnightblue;
		color:#66CDAA;
		transition: .3s ease-in-out;
	}
	.menu:hover .menuButton {
		color:#66CDAA;
	}
	.menu:hover .submenu{
		background-color: midnightblue;
		color:#66CDAA;

	}
	.submenu>li:hover {
		background-color: #66CDAA;
		color:midnightblue;
	}
	.submenu>li:hover a{
		background-color: #66CDAA;
		color:midnightblue;
		transition: .3s ease-in-out;
	}
	
}

@media (max-width:1000px ) {
	.submenu {
		border-bottom:none;
	}
	.submenu>li {
		border-bottom:1px solid;
	}
}


