* {
	margin:0;
	padding:0;
	text-align:center;
	font-family:CAMBRIA,serif;
	text-decoration: none;
	color:black;
}
h1,h2 {
	line-height: 20vh;
}

.clearfix, .clearfix:after {
	clear: both;
}
.clearfix:after {
	content: '';
	display: block;
}

header {
	

	width:100%;
	height:20vh;
	background-color:#c3b1b1;
	display: block;

}
.first-text {
	font-style:italic;
	width:100%;
	height:20%;
	background-color:#f9f3f3;
	display:block;
	margin-bottom:10px;
}
.first-menu li {	
		width:100%;
		height:50px;
		line-height: 50px;
		border-top:1px solid black;
		background-color:#c3b1b1;
	}
.post{
	border:1px solid;
	
	
	background-color:#f9f3f3;

}
footer {
	margin:5px auto;
	width:50%;
	height:100%;
	background-color:#f9f3f3;
	display:block;
	border:3px solid rgba(0,0,0,0.3);

}
img {
	
	width:100%;

}



@media (min-width:680px) {
	img {
		width:50%;
		float:left;
	}
	.first-menu {
		float:left;
		width: 20%;
		display: block;
	}
	.first-menu li {	
		width:100%;
		height:50px;
		line-height: 50px;
		border-top:1px solid black;
		background-color:#c3b1b1;
	}

	.main-content {
		display: inline-block;
		width:80%;
		
	}
	
}
@media (min-width:1000px) {
	img {
		width:60%;
		height:100%;
		
	}
	.post {
		height:350px;
		

	}
	.first-menu li {
		line-height: 50px;
		width:100%;
		height:50px;
		border-top:1px solid rgba(0,0,0,0.5);
		background-color:#c3b1b1;
		
	}
	.first-menu {
		float:left;
		width:20%;
		
		display: block;
	}
	.main-content {
		display: inline-block;
		width: 80%;
	}
	.main-content:nth-child(2n) > div > img {
		float:right;
	}
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}