* {
	margin:0 0;
	padding:0;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,Noto Sans Armenian,Noto Sans Bengali,
	Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,
	Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif;
	text-decoration:none;
}
body {
	background-color:#edeef0;
}
header {
	width:100%;
	background-color:#4a76a8;
	position: fixed;
	top: 0;
	z-index: 1;
}
.header {
	display: flex;
	align-items:center;
	height:42px;
	width:960px;
	margin:0 auto;
	padding:0 15px;
}
.logo {
	width:165px;
}
.form {
	padding-right:15px;
}
.icon {
	flex-grow:10;
}


.icon-bell:hover,
.icon-music:hover{
	background-color: #3d6898;
}

.avatar a {
	display: flex;
	align-items: center;
	height:42px;
	padding:0 10px;
}
.avatar:hover {
	background-color: #3d6898;
}
.user-avatar {
	background: url(img/user.jpg) no-repeat;
	width: 30px;
    height: 30px;
    border-radius: 50px;
    background-size: cover;
    display:block;
    margin-right:7px;
}
.user-name {
	font-size:12.5px;
	color:white;
	font-weight: bold;
	padding-right:8px;
}
.arrow {
	opacity: 0.5;
}
.logo-img{
	width: 30px;
	height:33px;
}
.icon-bell {
	display: inline-block;
	background:url(img/bell.svg) no-repeat;
	background-position: 12px 12px;
	height:42px;
	width:46px;
}
.icon-music {
	display: inline-block;
	background:url(img/music.svg) no-repeat;
	background-position: 12px 12px;
	height:42px;
	width:46px;
	margin-right:5px;
}
.icon-play {
	display: inline-block;
	background:url(img/play.svg) no-repeat;
	height:40px;
	width:40px;
}

input {
	border-radius:14px;
	width:230px;
	height:28px;
	background:#224b7a url(https://vk.com/images/svg_icons/ic_head_loupe.svg) no-repeat;
	background-position: 8px 8px;
	border-left:8px solid transparent;
	line-height: 16px;
	margin: 7px 0;
	padding: 6px 6px 6px 28px;
	border: 0;
    box-sizing: border-box;
    outline:none;
}
input:focus {
	background:white url(https://vk.com/images/svg_icons/ic_head_loupe.svg) no-repeat;
	background-position: 8px 8px;
}
input::placeholder {
	color: rgb(134, 161, 191);
}

/* левое меню */

.left-menu li:not(:nth-child(10)) {
	width:150px;
	list-style:none;
	font-size:12.5px;
}
.left-menu li:not(:nth-child(10)):hover{
	background-color: #e1e5eb;
}

.left-menu a {
    display: inline-block;
    width:117px;
    padding: 7px 0px 7px 33px;
    color: #285473;
}

.left-menu li:first-child {
    background: url("img/menu-sprite.svg") no-repeat 5px 6px;

}
.left-menu li:nth-child(2) {
    background: url("img/menu-sprite.svg") no-repeat 5px -916px;
}
.left-menu li:nth-child(3) {
    background: url("img/menu-sprite.svg") no-repeat 5px -22px;
}
.left-menu li:nth-child(4) {
    background: url("img/menu-sprite.svg") no-repeat 5px -77px;
}
.left-menu li:nth-child(5) {
    background: url("img/menu-sprite.svg") no-repeat 5px -105px;
}
.left-menu li:nth-child(6) {
    background: url("img/menu-sprite.svg") no-repeat 5px -135px;
}
.left-menu li:nth-child(7) {
    background: url("img/menu-sprite.svg") no-repeat 5px -162px;
}
.left-menu li:nth-child(8) {
    background: url("img/menu-sprite.svg") no-repeat 5px -190px;
}
.left-menu li:nth-child(9) {
    background: url("img/menu-sprite.svg") no-repeat 5px -218px;
}
.left-menu li:nth-child(11) {
    background: url("img/menu-sprite.svg") no-repeat 5px -944px;
}
.left-menu li:nth-child(12) {
    background: url("img/menu-sprite.svg") no-repeat 5px -301px;
}
.left-menu li:nth-child(13) {
    background: url("img/menu-sprite.svg") no-repeat 5px -274px;
}
.left-menu li:nth-child(14) {
    background: url("img/menu-sprite.svg") no-repeat 5px -330px;
}
.line {
	border-bottom:1px solid #285473;
	width:100px;
	opacity: 0.1;
	margin:10px auto 10px;
	height:0;
}
.left-menu-extra a {
	font-size: 12px;
    color: #939699;
    padding-left:5px;
}
.left-menu-extra a:hover {
	text-decoration:underline;
}
.left-menu-extra {
	padding-top:7px;
}

/* размеры и отступы колонок */
.central-column {
	width:550px;
	margin-left:15px;
}
.right-column {
	width:230px;
	height:500px;
	
}
main {
	display:flex;
	justify-content: center;
	margin-top:42px;
}

aside,
.central-column{
	padding-top:15px;        /* сделать чтобы меню не уходило за экран*/
}
.right-column{
	position: sticky;
	top: 57px;
}
/* Центральная колонка */

/* post post post post*/
.post {
	display: flex;
	height:52px;
	background-color:white;
	border-radius:4px;
	border:1px solid #dbe4ec;
	align-items: center;
	padding:0 15px ;
}
.post span:nth-child(2){
	color:gray;
	padding-left:9px;
	font-size:13px;
	flex-grow:3;
}
.post-icon a:not(:nth-child(6)) {
	display: inline-block;
	height:22px;
	width:22px;
	opacity: 0.7;
}
.post-icon span {
	border-right:1px solid #285473 ;
	opacity: 0.1;
	height:22px;
	width:1px;
	display: inline-block;
}
.post-icon a:first-child{
	background: url("img/menu-sprite.svg") no-repeat  5px -135px;
}
.post-icon a:first-child:hover{
	opacity: 1;
}
.post-icon a:nth-child(2) {
    background: url("img/menu-sprite.svg") no-repeat 5px -191px;
}
.post-icon a:nth-child(2):hover{
	opacity: 1;
}
.post-icon a:nth-child(3) {
    background: url("img/menu-sprite.svg") no-repeat 5px -163px;
}
.post-icon a:nth-child(3):hover{
	opacity: 1;
}
.post-icon a:nth-child(4) {
    background: url("img/menu-sprite.svg") no-repeat 5px -415px;
    padding-right:10px;   
}
.post-icon a:nth-child(4):hover{
	opacity: 1;
}
.post-icon a:nth-child(6) {
    padding-left:10px;
}
.post-icon a:nth-child(6):hover{
	opacity: 0.5;
}
/* story story story story */
.story {
	height:233px;
	background-color:white;
	border-radius:4px;
	margin-top:13px;
	border:1px solid #dbe4ec;
}
.story div:last-child {
	margin:15px 0 0 20px;
}
.text {
	padding: 17px 20px 0 20px;
	display: flex;
	font-size:13px;
}
.text span:last-child {
	width:550px;
	display: flex;
	justify-content: flex-end;
}
.hidden {
	visibility: hidden;
}
.story:hover .hidden{
	visibility: visible;
}
.hidden a {
	color:#939393;
}
.hidden a:hover {
	text-decoration: underline;
}
/* news news news news  */
.news {
	background-color:white;
	border-radius:4px;
	margin-top:13px;
	border:1px solid #dbe4ec;
}
.post-img {
	width:50px;
	height:50px;
	padding-right:15px;
}
.post-header {
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
	display: flex;
	align-items: center;
}
.data {
	color: #939393;
	font-size: 12.5px;
}
.public-name {
	font-weight: bold;
	color: #2a5885;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}
.last-element {
	flex-grow:1;
}
.post-con {
	padding:8px 20px 20px;
}
.like-con{
	border-top:1px solid rgba(40, 84, 115, 0.1);
	border-bottom:1px solid rgba(40, 84, 115, 0.1);
	margin:0 20px;
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	padding:12px 0px;
}
.like-con div:last-child{
	opacity: 0.5;
}
.like {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20height%3D%22100%25%22%20width%3D%22100%25%22%3E%3Ctitle%3Elike_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9a6.46%2C6.46%2C0%2C0%2C1%2C5%2C2.54A6.46%2C6.46%2C0%2C0%2C1%2C17%2C2.9ZM7%2C4.7A4.63%2C4.63%2C0%2C0%2C0%2C2.4%2C9.33c0%2C2.82%2C1.15%2C4.26%2C6.76%2C8.63l2.78%2C2.16a.1.1%2C0%2C0%2C0%2C.12%2C0L14.84%2C18c5.61-4.36%2C6.76-5.8%2C6.76-8.63A4.63%2C4.63%2C0%2C0%2C0%2C17%2C4.7c-1.56%2C0-3%2C.88-4.23%2C2.73L12%2C8.5l-.74-1.07C10%2C5.58%2C8.58%2C4.7%2C7%2C4.7Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E") no-repeat;
}
.comment {
	background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Ecomment_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M7.84%2C22.53A2%2C2%2C0%2C0%2C1%2C7.1%2C21V18.9H5.5a3.26%2C3.26%2C0%2C0%2C1-3.4-3.4v-9A3.26%2C3.26%2C0%2C0%2C1%2C5.5%2C3.1h13a3.26%2C3.26%2C0%2C0%2C1%2C3.4%2C3.4v9a3.26%2C3.26%2C0%2C0%2C1-3.4%2C3.4H13.84l-3.72%2C3.26A1.69%2C1.69%2C0%2C0%2C1%2C7.84%2C22.53Zm4.93-5.09a1.4%2C1.4%2C0%2C0%2C1%2C.92-.35H18.5a1.47%2C1.47%2C0%2C0%2C0%2C1.6-1.6v-9a1.47%2C1.47%2C0%2C0%2C0-1.6-1.6H5.5A1.47%2C1.47%2C0%2C0%2C0%2C3.9%2C6.5v9a1.47%2C1.47%2C0%2C0%2C0%2C1.6%2C1.6H8c.7.2.7.2.9.9v2.83Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E') no-repeat;
	margin-left:21px;
}
.share {
	background:url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Eshare_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M12.1%2C7.87V4.4a1.32%2C1.32%2C0%2C0%2C1%2C2.17-1L23.21%2C11a1.32%2C1.32%2C0%2C0%2C1%2C.15%2C1.86l-.15.15-8.94%2C7.6a1.32%2C1.32%2C0%2C0%2C1-2.17-1V16.16c-4.68.11-8%2C1.09-9.89%2C2.87a1.15%2C1.15%2C0%2C0%2C1-1.9-1.11C1.84%2C11.56%2C5.82%2C8.16%2C12.1%2C7.87Zm1.8-2.42v4.2H13c-5.3%2C0-8.72%2C2.25-10.39%2C6.86C5.06%2C15.06%2C8.53%2C14.35%2C13%2C14.35h.9v4.2L21.61%2C12Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E') no-repeat;
	margin-left:21px;
}
.icon-button {
	text-decoration: none;
	width:24px;
	height: 24px;
	opacity: 0.7;
}
.like_button_count {
	margin-left:6px;
	font-size:14px;
	color: #67707a;
	line-height: 16px;
	font-weight: 600;
	opacity: 0.9;
}
.views {
	background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2210%22%20viewBox%3D%221%202%2014%2010%22%20style%3D%22fill%3A%23828a99%3B%22%3E%3Cpath%20d%3D%22M8%2012C3.8%2012%201%208%201%207%201%206%203.8%202%208%202%2012.2%202%2015%206%2015%207%2015%208%2012.2%2012%208%2012ZM8%2010.5C9.9%2010.5%2011.5%208.9%2011.5%207%2011.5%205.1%209.9%203.5%208%203.5%206.1%203.5%204.5%205.1%204.5%207%204.5%208.9%206.1%2010.5%208%2010.5ZM8%208.6C7.1%208.6%206.4%207.9%206.4%207%206.4%206.1%207.1%205.4%208%205.4%208.9%205.4%209.6%206.1%209.6%207%209.6%207.9%208.9%208.6%208%208.6Z%22%2F%3E%3C%2Fsvg%3E") no-repeat;
	background-position: 0 3px;
	height: 14px;
	width: 14px;
	display: inline-block;
}
/* right column */
.right-column {
	width:230px;
	margin-left:15px;
}
.right-menu {
	background-color:white;
	border-radius: 4px;
	padding: 6px 0;
	border:1px solid #dbe4ec;
}
.right-menu a{
	width:230px;
    height:32px;
    display: inline-block;
    padding:0px 18px;
}
.right-menu li:not(:nth-child(7)){
	list-style:none;
	height:32px;
}
.right-menu li:not(:nth-child(7)):hover{
	background-color:#f0f2f5;
}
.right-menu li{
	font-size:13px;
	line-height: 32px;
}
.right-menu li:first-child{
	font-weight: 600;
	border-left: 2px solid #5181b8;
	background-color: #f0f2f5;
}
.blue-text {
	color: #2a5885;
}
.black-text {
	color:black;
}
.gray-text {
	color:#656565;
	padding-left:28px !important;
}
.line-right {
	border-bottom:1px solid #285473;
	width:200px;
	opacity: 0.1;
	height:0;
	margin:10px auto 10px;
}

/* checkbox container */
.checkbox {
	height:41px;
	border-radius:4px;
	border:1px solid #dbe4ec;
	background-color: white;
	margin-top:15px;
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.toggle {
	font-size:12.5px;
	padding-left:8px;
}
/* чекбокс */

.interesting {
	display: none;	
}
.interesting:checked + .interestingLabel:after{
	transform:translateX(17px);
}
.interesting:checked + .interestingLabel:before{
	background-color:midnightblue;
}
.interestingLabel {
	position: relative;
	transition: color 0.3s linear;
	padding-left: 10px;
}
.interestingLabel:before {
	position: absolute;
	display:block;
	content:'';
	width:38.5px;
	height: 22px;
	border-radius:15px;
	border:1px solid #000;
	background-color: gray;
	transition: background-color 0.3s linear;
}
.interestingLabel:after {
	position: relative;
	background-color: white;
	display: block;
	content:'';
	width:21px;
	height:21px;
	border-radius:50%;
	border:1px solid #000;
	transition: transform 0.3s linear;
	top:0.4px;
}