@font-face {
  font-family: 'BankGothicBold';
  src: url('fonts/bankgothic_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.woff") format("woff"), url("fonts/fontello.woff2") format("woff2"), url("fonts/fontello.ttf") format("truetype"); }
