$color:#e9eae9;
main{
	a{
		color:black;
	}
	.down-button {
		@include button(3.5em, 190px, 11em, 30px auto 0 auto);
	}
	div{
		display: flex;
		position: relative;
		flex-direction: column;
		align-items:center;
		font-size:33px;
		.headline{
			
			position: absolute;
			
			width:100%;
			font-family:'OpenSans-Light', sans-serif;
			font-size:20px;
		}
		span {
			display: block;
			position: absolute;
			
			font-family:'OpenSans-Light', sans-serif;
			font-size:15px;
			width:235px;
		}
	}
	color:#646464;
	font-family: 'fontello', sans-serif;
	display: flex;
	flex-direction: column;
	margin-top: 2.5em;

	div:nth-child(2n-1){
		
		
		background-color: $color;
		height:250px;
		margin-bottom:1em;
		width:70%;
		border-radius:0 125px 125px 0;
		.headline{
			text-align:end;
			right:95px;
			top:100px;
		}
		span{
			align-self: flex-end;
			top:150px;
			right:30px;
			
		}
	}
	div:nth-child(2n){
		
		background-color: lighten($color,3%);
		height:250px;
		margin-bottom:1em;
		width:70%;
		align-self:flex-end;
		border-radius:125px 0 0 125px;
		.headline{
			text-align:start;
			left:235px;
			top:100px;
			width:150px;
		}
		span{
			align-self: flex-start;
			top:150px;
			left:160px;
		}
	}
	div:first-child:before {
		position:absolute;
		content:'\e800';
		right:115px;
		top:50px;
	}
	div:nth-child(2):after {
		position:absolute;
		content: '\f2b5';
		left:255px;
		top:50px;
	}
	div:nth-child(3):before {
		position: absolute;
		right:143px;
		top:50px;
		content: '\e801';
		
	}
	div:nth-child(4):after {
		position:absolute;
		content: '\e802';
		left:258px;
		top:50px;
	}
	div:nth-child(5):before {
		position: absolute;
		right:145px;
		top:50px;
		content: '\f164';
		
	}
	div:nth-child(6):after {
		position:absolute;
		content: '\e803';
		left:265px;
		top:50px;
	}
	
}

@media (max-width:650px){
	main{
		div:nth-child(6):after{
		left:130px;
	}
		div:nth-child(2):after{
		left:120px;
	}
		div:nth-child(4):after{
		left:125px;
	}
		div:nth-child(2n-1){
		width:90%;
	}
		div:nth-child(2n){
		width:90%;
		.headline{
				left:100px;
			}
		span{
			left:35px;
		}
		}
	
	.down-button{
		@include button(1.5em, 70px, 10em, 30px auto 0 auto);
	}
}
}
@media (min-width:1200px){
	main{
		.down-button{
			display: none;
		}
		div:first-child:before{
			transition: ease-out 0.5s;
			font-size:30px;
			
		}
		div:first-child{
			position: absolute;
			top:55px;
			left:72px;
			width:250px;
			.headline{
				font-size:20px;
				position: absolute;
				right:95px;
				top:85px;
			}
			span{
				font-size:14px;
				position: absolute;
				top:130px;
				right:22px;
			}
		}

		div:nth-child(3):before{
			transition: ease-out 0.5s;
			font-size:30px;
			right:130px;
		}
		div:nth-child(3){
			position: absolute;
			top:340px;
			left:72px;
			width:250px;
			.headline{
				font-size:20px;
				position: absolute;
				right:75px;
				top:85px;
			}
			span{
				font-size:14px;
				position: absolute;
				top:130px;
				right:30px;
			}
		}
		div:nth-child(5):before{
			transition: ease-out 0.5s;
			font-size:30px;
			left:90px;
		}
		div:nth-child(5){
			position: absolute;
			top:625px;
			left:72px;
			width:250px;
			.headline{
				font-size:20px;
				position: absolute;
				right:75px;
				top:85px;
			}
			span{
				font-size:14px;
				position: absolute;
				top:130px;
				right:30px;
			}
		}
		div:nth-child(2):after{
			font-size:30px;
			left:125px;
		}
		div:nth-child(2){
			position: absolute;
			top:55px;
			right:72px;
			width:275px;
			.headline{
				font-size:20px;
				position: absolute;
				left:105px;
				top:85px;
			}
			span{
				font-size:14px;
				position: absolute;
				top:130px;
				left:21px;
			}
		}
		div:nth-child(4):after{
			font-size:30px;
			left:125px;
		}
		div:nth-child(4){
			position: absolute;
			top:340px;
			right:72px;
			width:275px;
			.headline{
				font-size:20px;
				position: absolute;
				left:105px;
				top:85px;
			}
			span{
				font-size:14px;
				position: absolute;
				top:130px;
				left:21px;
			}
		}
		div:nth-child(6):after{
			font-size:30px;
			left:135px;
		}
		div:nth-child(6){
			position: absolute;
			top:625px;
			right:72px;
			width:275px;
			.headline{
				font-size:20px;
				display: inline;
				width:50px;
				position: absolute;
				left:105px;
				top:85px;
			}
			span{
				font-size:14px;
				position: absolute;
				top:130px;
				left:21px;
			}
		}
		div:hover{ 
			&:before{
				font-size:40px;
			}
			&:after{
				font-size:40px;
			}
		}


	}
}